/* NavBar */
.navbar-header{
    color: white;
    margin-left: 250px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.navbar{
margin-top: -45px;
}

.navbar-nav{
    margin-left: 200px;
}

.nav-link{
    margin-left: 85px;
    padding-right: 10px;
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.nav-linkpartner{
    padding-top: 8px;
    padding-left: 15px;
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.nav-linkblog{
    margin-left:15px;
    padding-top: 8px;
    padding-left: 15px;
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.nav-linkcontact{
    margin-left: 15px;
    padding-top: 8px;
    padding-left: 15px;
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;

}


.nav-linksignup{
    margin-left: 22px;
    /* padding-left: 55px; */
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: double;
    border-width: thin;
    border-radius: 46%;
    font-size: 12px;
    color: white;
}



.header-image{
background-image: url("assets/headerBackground.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center; 

height: 700px;
}

/* ----------------------------------------------------- */
.heading-textbox{
    margin-top: 150px;
}
.heading-text{
    font-size: 30px;
    font-weight: 1000;
    /* font-weight: unset; */
    letter-spacing: 2px;
    color: white;
    margin-top: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.heading-text2{
    margin-top: -19px;
    font-size: 30px;
    font-weight: 1000;
    /* font-weight: unset; */
    letter-spacing: 2px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.headertext{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 100;

}

.redbutton{
    padding-top: 6px;
    margin-left: 570px;
    width: 180px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    background-color:  #FF4E50;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 35%;

}

/* Meet partner section */
.partner-heading{
    margin-top: 65px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #444444;
    font-weight: 600;

}

.partner-section{
   margin-top: 20px;
   margin-bottom: 100px;
}

.bradley{
   margin-left: 280px;
   margin-right: 40px;
}

.marie{
    /* display: block; */
   margin-left: 40px;
   margin-right: 40px;
}

.diana{
   margin-left: 40px;
   margin-right: 40px;;
}
.chris{
       margin-left: 40px;
       margin-right: 250px;
}

.music{
    margin-top: 80px;
    margin-left: -55px;
    padding: 6px;    
    height: 48px;
    width: 62px;

}

.camera{
    margin-top: -40px;
    margin-left: 80px;
    padding: 6px;
    height: 48px;
    width: 62px;
    display: none;
    display: block;

}

.pen{
    margin-top: 80px;
    margin-left: -35px;
    padding: 6px;
    height: 48px;
    width: 62px;
}

.airplane{
    margin-top: 80px;
    margin-left: -35px;
    padding: 6px;
    height: 48px;
    width: 62px;
}