/* NavBar */
.navbar-header{
    color: white;
    margin-left: 250px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.navbar{
margin-top: -45px;
}

.navbar-nav{
    margin-left: 200px;
}

.nav-link{
    margin-left: 85px;
    padding-right: 10px;
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.nav-linkpartner{
    padding-top: 8px;
    padding-left: 15px;
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.nav-linkblog{
    margin-left:15px;
    padding-top: 8px;
    padding-left: 15px;
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.nav-linkcontact{
    margin-left: 15px;
    padding-top: 8px;
    padding-left: 15px;
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;

}


.nav-linksignup{
    margin-left: 22px;
    /* padding-left: 55px; */
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: double;
    border-width: thin;
    border-radius: 46%;
    font-size: 12px;
    color: white;
}



.header-image{
background-image: url("assets/headerBackground.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center; 

height: 700px;
}

/* ----------------------------------------------------- */
.heading-textbox{
    margin-top: 150px;
}
.heading-text{
    font-size: 30px;
    font-weight: 1000;
    /* font-weight: unset; */
    letter-spacing: 2px;
    color: white;
    margin-top: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.heading-text2{
    margin-top: -19px;
    font-size: 30px;
    font-weight: 1000;
    /* font-weight: unset; */
    letter-spacing: 2px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.headertext{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 100;

}

/* .redbutton{
    padding-top: 6px;
    margin-left: 570px;
    width: 180px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    background-color:  #FF4E50;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 35%;

} */

.redbtn{
    margin-left: 570px;
    height: 40px;
    width: 210px;
}

/* Meet partner section */
.partner-heading{
    margin-top: 65px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #444444;
    font-weight: 600;

}

.partner-section{
   margin-top: 20px;
   margin-bottom: 100px;
}

.bradley{
   margin-left: 280px;
   margin-right: 40px;
}

.marie{
    /* display: block; */
   margin-left: 20px;
   margin-right: 40px;
}

.diana{
   margin-left: 30px;
   margin-right: 40px;;
}


.music{
    margin-top: 80px;
    margin-left: -55px;
    padding: 6px;    
    height: 48px;
    width: 62px;

}

.camera{
    margin-top: -40px;
    margin-left: 80px;
    padding: 6px;
    height: 48px;
    width: 62px;
    display: none;
    display: block;

}

.pen{
    margin-top: 80px;
    margin-left: -35px;
    padding: 6px;
    height: 48px;
    width: 62px;
}

.airplane{
    margin-top: 80px;
    margin-left: -35px;
    padding: 6px;
    height: 48px;
    width: 62px;
}
.nameB{
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #444444;
}
.infoB{
    font-size: 12px;
    width: 160px;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}
.nameA{
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #444444;
}
.infoA{
    font-size: 12px;
    width: 160px;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}

.nameC{
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #444444;
}
.infoC{
    font-size: 12px;
    width: 160px;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}

.nameD{
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #444444;
}
.infoD{
    font-size: 12px;
    width: 160px;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}

.pbtn{
    margin-top: -155px;
    margin-left: 615px;
    height: 40px;
    width: 150px;

}


/* Holiday activities section  */

.title-holiday{
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #444444;
    font-weight: 600;
}



.sports{
    margin-left: 230px;
    height: 250px;
    width: 260px;
}

.health{
    margin-left: 170px;
    height: 250px;
    width: 260px; 
}
.expd{
    margin-left: 110px;
    height: 250px;
    width: 260px;
}
.sights{
    margin-top: 15px;
}
.gamepic{
margin-left: 230px;
height: 220px;
width: 260px;
}

.culturepic{
    height: 220px;
    width: 545px;
    margin-left: 170px;
}
.explore{
    margin-top: 15px;

}
.beautyrelax{
    margin-left: 230px;
    height: 250px;
    width: 545px;
}

.travel{
    margin-left: 110px;
    height: 250px;
    width: 260px;
}

/* About us section */
.line{
    margin-top: 45px;
    border-top: 2px solid #FF4E50;
}
.dreamshre{
  margin-left: 250px;
  font-family: 'Roboto', sans-serif;
  color: #FF4E50;
}
.comp{
font-family: 'Roboto', sans-serif;
margin-left: 120px;
color: #444444;
}

.act{
 font-family: 'Roboto', sans-serif;
 margin-left: 100px;
 
}
.con{
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;

}